<h1>Capsules</h1>

<table>
  <thead>
    <tr>
      <th>Capsule Serial</th>
      <th>Capsule Id</th>
      <th>Status</th>
      <th>Original Launch</th>
      <th>Landings</th>
      <th>Type</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let capsule of capsulesList">
      <td>{{capsule.capsule_serial}}</td>
      <td>{{capsule.capsule_id}}</td>
      <td>{{capsule.status}}</td>
      <td><ng-container *ngIf="capsule.original_launch">{{capsule.original_launch}}</ng-container><ng-container *ngIf="!capsule.original_launch">Not Launched</ng-container></td>
      <td>{{capsule.landings}}</td>
      <td>{{capsule.type}}</td>
      <td><button nz-button nzType="primary" (click)="showModal(capsule.capsule_serial)">See Details</button></td>
    </tr>
  </tbody>
</table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="{{modalTitle}}" (nzOnCancel)="handleCancel()"><app-capsule-detail selectedCapsule="selectedCapsule"></app-capsule-detail></nz-modal>