<h1>Capsules</h1>

<ng-container *ngIf="loading">Loading...</ng-container>
<ng-container *ngIf="!loading">
<table>
  <thead>
    <tr>
      <th>Capsule Serial</th>
      <th>Capsule Id</th>
      <th>Status</th>
      <th>Original Launch</th>
      <th>Landings</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let capsule of capsulesList">
      <td>{{capsule.capsule_serial}}</td>
      <td>{{capsule.capsule_id}}</td>
      <td>{{capsule.status}}</td>
      <td><ng-container *ngIf="capsule.original_launch">{{capsule.original_launch}}</ng-container><ng-container *ngIf="!capsule.original_launch">Not Launched</ng-container></td>
      <td>{{capsule.landings}}</td>
      <td>{{capsule.type}}</td>
      <td><button nz-button nzType="primary" (click)="showModal(capsule.capsule_serial)">See Details</button></td>
    </tr>
  </tbody>
</table>
</ng-container>

<nz-modal [(nzVisible)]="isVisible"
nzTitle="{{modalTitle}}"
[nzFooter]="modalFooter"
(nzOnCancel)="handleCancel()">
  <app-capsule-details [selectedCapsule]="selectedCapsule"></app-capsule-details>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Close</button>
  </ng-template>
</nz-modal>
