/* You can add global styles to this file, and also import other style files */

table {width: 100%;}
table thead th {border-bottom: 1px solid #bbb;}
table tr th {width: 16.67%;}
table tr td {padding: 3px 1px;}